[flake8]
ignore = E203, E266, E501, W503, E231
exclude =
	.git,
	.venv,
	.pytest_cache,
	__pycache__,
	no_vc,
	model_pack,
	build,
max-line-length = 100
max-complexity = 18
select = B,C,E,F,W,T4
per-file-ignores =
	kazu/**/__init__.py:F401,E501
	# undefined `docs` variable because we it's a docs example to run after
	# pipeline_example.rst , where docs is defined.
	# we don't want to ignore inline as it makes the docs ugly, and
	# mypy will pick up any new undefined names (mypy doesn't complain
	# because we still type hint `docs` in this file).
	docs/label_studio_create_project.py:F821
