defaults:
  - ray: local
  - ontology_parser: default
  - indices: default
  - PLSapbertModel: default
  - SpacyPipeline: default
  - StanzaPipeline: default
  - AbbreviationFinderStep: default
  - SpacyNerStep: default
  - TransformersModelForTokenClassificationNerStep: default
  - SapBertForEntityLinkingStep: default
  - DictionaryEntityLinkingStep: default
  - SapBertTraining: default
  - Pipeline: default
  - DistillationTraining: default
  - SethStep: default
  - SynonymGeneration: default
  - ExplosionStringMatchingStep: default
  - MergeOverlappingEntsStep: default
  - StanzaStep: default
  - MappingStep: default
  - DisambiguationStrategies: default
  - StringScorers: default
  - SapbertStringSimilarityScorer: default
  - CleanupStep: default
  - CleanupActions: default
  - LabelStudioManager: default
  - Middlewares: default
  - EntityClassDisambiguationStep: default
  - confidence: default
  - cache_sizes: default

# we set certain env vars here for things that are statically initialised
hydra:
  job:
    env_set:
      # Note that the cache_sizes config also modifies this env_set in order to
      # set environment variables related to cache sizes.
      # That config is in cache_sizes/default.yaml so that all cache size related config
      #  can be in a single place for ease of discoverability and modification,
      # whether it affects an environment variable or not.
      TOKENIZERS_PARALLELISM: false # prevent rust tokenisers from forking
      PL_DISABLE_FORK: 1 # prevent pytorch lighting from spawning processes, which causes Ray to freeze
