defaults:
  - ray: local
  - ontologies:
      - ot_target
      - ot_disease
      - ot_molecule
      - ot_bio_proc
      - ot_phenotype
#      - ot_measurement # curations are currently low quality
      - ot_medical_proc
      - cellosaurus
      - chembl
      - cl
      - clo
      - go_bp
      - go_mf
      - go_cc
      - hgnc_gene_family
      - mondo
      - stato
      - uberon
  - SapbertHelper: default
  - SciSpacyPipeline: default
  - StanzaPipeline: default
  - AbbreviationFinderStep: default
  - SpacyNerStep: default
  - TransformersModelForTokenClassificationNerStep: default
  - DictionaryEntityLinkingStep: default
  - SapBertTraining: default
  - Pipeline: default
  - DistillationTraining: default
  - OpsinStep: default
  - SethStep: default
  - SynonymGeneration: default
  - ExplosionStringMatchingStep: default
  - MemoryEfficientStringMatchingStep: default
  - MergeOverlappingEntsStep: default
  - StanzaStep: default
  - MappingStep: default
  - DisambiguationStrategies: default
  - StringScorers: default
  - SapbertStringSimilarityScorer: default
  - CleanupStep: default
  - CleanupActions: default
  - LSWebUtils: default
  - Middlewares: default
  - RulesBasedEntityClassDisambiguationFilterStep: default
  - confidence: default
  - cache_sizes: default
  - global_actions: default
  - GLiNERStep: default
  - autocurator: default
  - _self_  # see https://hydra.cc/docs/1.2/upgrades/1.0_to_1.1/default_composition_order/

# we set certain env vars here for things that are statically initialised
hydra:
  job:
    env_set:
      # Note that the cache_sizes config also modifies this env_set in order to
      # set environment variables related to cache sizes.
      # That config is in cache_sizes/default.yaml so that all cache size related config
      #  can be in a single place for ease of discoverability and modification,
      # whether it affects an environment variable or not.
      TOKENIZERS_PARALLELISM: false # prevent rust tokenisers from forking
      PL_DISABLE_FORK: 1 # prevent pytorch lighting from spawning processes, which causes Ray to freeze
      KAZU_SPACY_RELOAD_INTERVAL: 1000 # reload spacy pipelines after this many calls. This is required to stop OOM on batch processing due to https://github.com/explosion/spaCy/discussions/9362
