@import "https://unpkg.com/@heartexlabs/label-studio@latest/build/static/css/main.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root, #textWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

#textWidget > textarea {
  min-height: 150px;
  min-width: 400px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

#textWidget > button {
  max-height: 50px;
  max-width: 100px;
}
